# React Native
node_modules/
android/.gradle/
android/app/build/
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*/Flutter/Flutter.podspec
ios/*/Flutter/Flutter.xcworkspace

ios/Podfile.lock
ios/SeaBuddy.xcodeproj/project.pbxproj
ios/.xcode.env.local

# Miscellaneous
*.log
*.env
.env.local
.env.*.local
*.jks
*.p12
*.mobileprovision
*.orig
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
yarn-error.log
.yarn/cache/
package-lock.json
*.iml
*.hprof

# Metro
.expo
.expo-shared
packager-info.json
.error-on-start.json
.pnp.js
.pnp.cjs
.pnp.data.json

# Build output
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Testing
coverage/
.nyc_output/
test-output/
junit.xml

# Temporary files
tmp/
temp/.yarn/cache
android/build/generated/autolinking/autolinking.json
android/settings.gradle